<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Node + Stripe</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/products">Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.admin %}
          <li><a href="/auth/admin">Admin</a></li>
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {% elseif user.description %}
          <li><a href="/merchant/auth/admin">Merchant</a></li>
          <li><a href="/merchant/auth/profile">Profile</a></li>
          <li><a href="/merchant/auth/logout">Logout</a></li>
        {% elseif user %}
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {% else %}
          <li><a href="/auth/login">Register/Login</a></li>
          <li><a href="/merchant/auth/login">Merchant Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>-->
<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top yamm">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><h2 style="color:whitesmoke;">Student Capital</h2></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Default - Slider</a></li>
            <li><a href="index-video.html">V2 - Video</a></li>
            <li><a href="index-background-video.html">V3 - Video background</a></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Menu levels</a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Second level</a></li>
                <li class="dropdown-submenu">
                  <a href="#">Even More..</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">3rd level</a></li>
                    <li><a href="#">3rd level</a></li>
                  </ul>
                </li>
                <li><a href="#">Second level</a></li>
                <li><a href="#">Second level</a></li>
              </ul>
          </ul>
        </li>

        <li><a href="courses.html">Courses</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About</a></li>
            <li><a href="staff.html">Our Staff</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="faq.html">F.A.Q</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="events.html">Events</a></li>
          </ul>
        </li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Header Dark</a></li>
            <li><a href="header-light.html">Header Light</a></li>
            <li><a href="index.html">Footer dark</a></li>
            <li><a href="footer-light.html">Footer Light</a></li><li><a href="page-boxed.html">Page boxed</a></li>
          </ul>
        </li>
        <li class="search-toggle"><a href="javascript:void(0)"><i class="fa fa-search"></i></a>
          <form class="search-form">
            <input type="text" class="form-control" placeholder="Search here...">
          </form>
        </li>

      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav><!--/nav end -->